.artist-container {
  width: 100%;
  height: 100%;
  display: flex;
}

/* ---------- Popular and Others Container -------- */

.popular-others-container {
  width: 70%;
  max-height: 100%;
  /* margin-left: 3%; */
  overflow: auto;
  padding: 0rem 2rem;
}

.popular-others-container::-webkit-scrollbar {
  width: 8px;
}

.popular-others-container::-webkit-scrollbar-thumb {
  background-color: #1DB954;
  border-radius: 20px;
}

.popular-track-container{
  color: #fff;
  width: 100%;
  padding: 2rem 0;
}

.popular-track-list {
  width: 100%;
  list-style: none;
  max-height: 50vh;
  overflow-y: auto;
  margin-top: 2rem;
}

.popular-track-list::-webkit-scrollbar {
  width: 8px;
}

.popular-track-list::-webkit-scrollbar-thumb {
  background-color: #1DB954;
  border-radius: 20px;
}

.popular-track-list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem .3rem;
  border-bottom: 1px solid #c4c4c4;
  transition: ease-in-out .3s;
}

.popular-track-list li:hover{
  background-color: rgba(255, 255, 255, .2);
  cursor: pointer;
}

.popular-track-list li div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-weight: bold;
}

.popular-track-list li img {
  width: 3rem;
  height: 3rem;
  margin: 0rem .5rem;
}

.btn-player {
  display: none;
}

.popular-track-list li:hover .btn-player, .is-playing-img {
  display: block;
}

.popular-track-list li:hover .is-playing-img {
  display: none;
}

.popular-track-list li .is-playing-img {
  width: 1.5rem;
  height: 1.5rem;
}

.popular-track-list li:hover .track-index {
  display: none;
}
