.modal-error-container {
  position: absolute !important;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-error-body {
  width: 30vw;
  height: 18vh;
  background-color: #585757;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1rem 0rem;
}

.modal-error-body div {
  width: 100%;
  padding: 0rem 1rem 0rem 11rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.modal-error-body div h2 {
  align-self: center;
  justify-self: flex-end;
}
.modal-error-body div .close-btn:hover{
  cursor: pointer;
}