.main-header {
  background-color: #262626;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem .8rem .3rem .5rem;
}

.hide {
  background-color: transparent;
}

.main-header div {
  display: flex;
  align-items: center;
}

.main-header h3 {
  color: #fff;
  font-size: 1.3rem;
}

.main-header div img {
  width: 7rem;
}

.back-button {
  border: none;
  background-color: #1DB954;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding-right: .15rem;
  margin-right: .8rem;
  transition: ease-in-out .3s;
}

.back-button:hover {
  background-color: #17e25e;
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  .main-header{
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .main-header div .logo-container{
    width: 100%;
    flex-direction: row;
  }
}