.search-bar {
  width: 50%;
  height: 100%;
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-bar div {
  background-color: #fff;
  height: 5vh;
  display: flex;
  align-items: center;
  padding: 0 .5rem;
  border-radius: 8px 0 0 8px;
  border-right: 1.5px solid#1DB954;
}

.search-bar div p {
  color: #1DB954;
  font-weight: bold;
  font-size: 1.1rem;
  margin-left: .5rem;
}

.search-bar input {
  width: 25vw;
  height: 5vh;
  border: unset;
  border-radius: 0 8px 8px 0;
  padding-left: .7rem;
  background-color: #fff;
  transition: ease-in-out .3s;
  outline: unset;
  
}

.search-bar input:focus{
  width: 45vw;
  border: 1px solid #1DB954;
  border-left-color: unset;
}


.select-search {
  background-color: transparent !important;
  border: none !important;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 5vh;
}
.select-search .select-box {
  height: 5vh;
  width: 10vw;
  padding: .4rem .5rem;
  outline: unset;
  background-color: #333;
  border: none;
  border-radius: 5px;
  font-family: 'Barlow', sans-serif;
  color: #fff;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: ease-in-out .3s;
}

.select-search .select-box:hover {
  cursor: pointer;
  background-color: #585757;
}

.select-search .options-list {
  background-color: #333;
  width: 10vw;
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  list-style: none;
  font-size: 1rem;
  margin-top: .5rem;
  border: 1px solid rgba(196, 196, 196, .3);
  border-radius: 5px;
  position: absolute;
  bottom: -17vh;
  z-index: 999;
  display: none;
}

.select-search .options-list li {
  padding: .5rem .5rem;
  transition: ease-in-out .3s;
}

.select-search .options-list li:hover {
  cursor: pointer;
  background-color: #1DB954;
}

.show {
  display: unset !important;
}

@media screen and (max-width: 414px) {
  .select-search .select-box {
    width: 25vw;
  }
  .select-search .options-list {
    width: 25vw;
  }
}