.search-artist-card-group {
  width: 15vw;
  height: 40vh;
  background-color: #3E3E3E;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: .6rem;
  margin-bottom: .6rem;
  padding: .8rem 0rem;
  text-decoration: none;
  transition: ease-in-out .3s;
  position: relative;
}

.search-artist-card-group:hover {
  cursor: pointer;
  background-color: #585757;
}

.search-artist-card-group img {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  align-self: center;
}

.search-artist-card-group .content {
  padding: 0rem 1rem;
  color: #fff;
}

.delete-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  background-color: #585757;
  transition: ease-in-out .3s;
}

.delete-search:hover {
  background-color: #1db954;
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  .search-artist-card-group{
    width: 60vw;
  }
}